# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/binarylane-cloud-controller-manager

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html

# Dependency directories (remove the comment below to include it)
# vendor/

# Build output
bin/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Helm
*.tgz
charts/*/charts/
.cr-release-packages/
.cr-index/

.ssh/

.env
