apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "binarylane-cloud-controller-manager.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "binarylane-cloud-controller-manager.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "binarylane-cloud-controller-manager.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "binarylane-cloud-controller-manager.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "binarylane-cloud-controller-manager.serviceAccountName" . }}
      hostNetwork: {{ .Values.hostNetwork }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: cloud-controller-manager
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /binarylane-cloud-controller-manager
            - --cloud-provider=binarylane
            - --leader-elect=true
            - --use-service-account-credentials=true
            - --v={{ .Values.verbosity }}
            {{- range .Values.extraArgs }}
            - {{ . }}
            {{- end }}
          env:
            - name: BINARYLANE_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ required "cloudControllerManager.secret.name is required" .Values.cloudControllerManager.secret.name }}
                  key: {{ .Values.cloudControllerManager.secret.key }}
            {{- with .Values.extraEnv }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.extraVolumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.extraVolumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
