apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: { { include "binarylane-cloud-controller-manager.fullname" . } }
  labels:
    { { - include "binarylane-cloud-controller-manager.labels" . | nindent 4 } }
rules:
  - apiGroups:
      - ''
    resources:
      - events
    verbs:
      - create
      - patch
      - update
  - apiGroups:
      - ''
    resources:
      - nodes
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - ''
    resources:
      - nodes/status
    verbs:
      - patch
      - update
  - apiGroups:
      - ''
    resources:
      - services
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - ''
    resources:
      - services/status
    verbs:
      - patch
      - update
  - apiGroups:
      - ''
    resources:
      - serviceaccounts
    verbs:
      - create
      - get
      - list
      - watch
      - update
  - apiGroups:
      - ''
    resources:
      - serviceaccounts/token
    verbs:
      - create
  - apiGroups:
      - ''
    resources:
      - persistentvolumes
    verbs:
      - get
      - list
      - watch
      - update
  - apiGroups:
      - ''
    resources:
      - endpoints
    verbs:
      - create
      - get
      - list
      - watch
      - update
  - apiGroups:
      - ''
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ''
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - create
      - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: { { include "binarylane-cloud-controller-manager.fullname" . } }
  labels:
    { { - include "binarylane-cloud-controller-manager.labels" . | nindent 4 } }
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: { { include "binarylane-cloud-controller-manager.fullname" . } }
subjects:
  - kind: ServiceAccount
    name:
      { { include "binarylane-cloud-controller-manager.serviceAccountName" . } }
    namespace: { { .Release.Namespace } }
