apiVersion: v1
kind: ServiceAccount
metadata:
  name: cloud-controller-manager
  namespace: kube-system
  labels:
    app.kubernetes.io/name: binarylane-cloud-controller-manager
    app.kubernetes.io/component: cloud-controller-manager
    app.kubernetes.io/part-of: kubernetes
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: system:cloud-controller-manager
  labels:
    app.kubernetes.io/name: binarylane-cloud-controller-manager
    app.kubernetes.io/component: cloud-controller-manager
    app.kubernetes.io/part-of: kubernetes
rules:
  - apiGroups:
      - ''
    resources:
      - events
    verbs:
      - create
      - patch
      - update
  - apiGroups:
      - ''
    resources:
      - nodes
    verbs:
      - '*'
  - apiGroups:
      - ''
    resources:
      - nodes/status
    verbs:
      - patch
  - apiGroups:
      - ''
    resources:
      - services
    verbs:
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ''
    resources:
      - services/status
    verbs:
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ''
    resources:
      - serviceaccounts
    verbs:
      - create
      - get
  - apiGroups:
      - ''
    resources:
      - persistentvolumes
    verbs:
      - get
      - list
      - update
      - watch
  - apiGroups:
      - ''
    resources:
      - endpoints
    verbs:
      - create
      - get
      - list
      - watch
      - update
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - create
      - get
      - list
      - watch
      - update
  - apiGroups:
      - ''
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: system:cloud-controller-manager
  labels:
    app.kubernetes.io/name: binarylane-cloud-controller-manager
    app.kubernetes.io/component: cloud-controller-manager
    app.kubernetes.io/part-of: kubernetes
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:cloud-controller-manager
subjects:
  - kind: ServiceAccount
    name: cloud-controller-manager
    namespace: kube-system
